{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section class="image" style="background:url(https://source.unsplash.com/collection/517198/320x320) no-repeat center center /cover">

        </section>
        
        <section class="details">
            <h3>Detalhes</h3>

            <div>

            <div class="item">
                <div>Nome</div>
                <div>Thiago</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>29</div>
            </div>

            <div class="item">
                <div>Escolaridade</div>
                <div>Doutorado</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>Presencial</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>Educação Física</div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>15/01/2021</div>
            </div>

            </div>
        </section>

    </div>   

{% endblock content %}